<!-- Modal -->
<div class="modal fade" id="ChangePassword" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordTitle" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-disable="true" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="ChangePasswordTitle">Change Your Password</h4>
      </div>

      <%= form_for( @portal_user, url: update_password_portal_user_path(), remote: true, authenticity_token: true,
        data: { model: 'portal_user', js_modal_form: "change_password" }, html: { id: "change_password_portal_user", role: :form } ) do |f| %>
        <!-- Input field for autocomplete functionality recommended by Google. hidden type does not work here. -->
        <input type="text" name="email_address" value="<%= @portal_user.email_address.strip %>" autocomplete="username" style="display:none;">
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :current_password, "Current Password", class: "control-label" %>
            <%= f.password_field :current_password, class: "form-control", required: true, autocomplete: "current-password" %>
            <span class="help-block invalid-feedback"></span>
          </div>

          <div class="form-group">
            <%= f.label :new_password, "New Password", class: "control-label" %>
            <%= f.password_field :new_password, class: "form-control", required: true, autocomplete: "new-password" %>
            <span class="help-block invalid-feedback"></span>
          </div>

          <div class="form-group">
            <%= f.label :new_password_confirmation, "Confirm Password", class: "control-label" %>
            <%= f.password_field :new_password_confirmation, class: "form-control", required: true, autocomplete: "new-password" %>
            <span class="help-block invalid-feedback"></span>
          </div>

          <div class="bs-callout bs-callout-default" style="margin: 0;">
            <h4>Your new password must be:</h4>
            <div style="padding-left: 15px;">
              Minimum of 6 characters<br>
              No more than 10 characters<br>
              Must include at least one numeric
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-disable="true">Close</button>
          <%= f.submit "Save changes", class: "btn btn-primary", data: { disable_with: 'Submitting...', js_modal_submit: "Save changes" } %>
        </div>

      <% end %>

    </div>
  </div>
</div>
<!-- END Modal test -->
