<!DOCTYPE html>
<html>
  <head>
    <title>CommerceAppChampionDrawManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render "layouts/header", align_header: :left %>

    <div class="main">
      <%= render "layouts/left_menu" %>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>

</html>
